@charset "UTF-8";

body{
    background-color:rgb(0, 179, 179);
}
*{
    margin: 0%;
    padding: 0%;
}
.fundo {
    height: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora {
    position: absolute;
    background-color: rgba(0, 0, 0,1);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31,31,31);
    border: none;
    color: white;
}
.botao:hover{
    background-color:rgba(0, 255, 255, 0.719);
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}


@font-face {
    font-family: minha fonte;
    src: url('spider.TTF');

}
.pablo{
    font-family: minha fonte;
    margin-top: 407px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 0, 0));
}

footer {
    font-family: monospace;
    font-size: 2.9vh;
    padding: 10px;
    color: black;
}
a {
    color: rgba(255, 255, 255, 0.897);
    text-decoration: none;
}